{
    "presets": [
        [
            "@babel/preset-env", {
                "runtime": "automatic"
            }
        ], "@babel/preset-react"
    ],
    // "plugins": [
    //     ["@babel/plugin-transform-react-jsx", {
    //       "runtime": "automatic"
    //     }]
    //   ]
}