button{
    width: 20px;
    height: 20px;
    margin-left:15px;
}

.App{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.App-img{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}